.container {
  background-color: #30c0e4;
  height: 100px;
  padding: 80px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}
.container input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}
.container input::placeholder {
  font-size: 1rem;
}
span {
  font-size: 20px;
  color: rgb(36, 32, 32);
}
